openapi: 3.0.0
info:
  title: Brightcove CMS API Reference
  description: |-
    'Reference for the Brightcove CMS API, used to access and manage your media library. To test API requests, you can use our [API Testing Tools](/getting-started/concepts-testing-tools-brightcove-apis.html). For permissions needed for OAuth credentials, see [API Operations](/oauth/guides/api-operations-client-credentials-requests.html). For information on authenticating API requests, see the [OAuth Overview](/oauth/getting-started/overview-oauth-api-v4.html).'

    For additional in-depth guides to features of the API, see the **[general documentation](/cms/index.html)**.

    **Base URL**: https://cms.api.brightcove.com/v1
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://cms.api.brightcove.com/v1'
    variables: {}
tags:
  - name: Videos
    description: 'Operations for managing videos, video metadata, audio tracks, and more.'
  - name: Media Sharing
    description: >-
      Operations for creating and managing hierarchical labels that can be associated with videos.
  - name: Playlists
    description: Operations for managing video playlists.
  - name: Folders
    description: Operations for managing folders to organize your videos.
  - name: Labels
    description: Operations for managing folders to organize your videos. See [Working with Labels](/cms/managing-videos/working-with-labels.html) for more information.
  - name: Notifications
    description: >-
      Operations for setting up and managing notifications of changes to your video library.
  - name: Media Assets
    description: >-
      Operations for managing renditions, manifests, and other media assets. These operations are used mainly for remote assets.
  - name: Legacy
    description: >-
      Legacy operations - unless your account is still using the legacy ingest system instead of Dynamic Delivery, these operations are not relevant.
paths:
  '/accounts/{account_id}/videos':
    get:
      tags:
        - Videos
      summary: Get Videos
      description: 'Gets a page of video objects '
      operationId: GetVideos
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/VideoSort'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
        '400':
          description: |-
            INVALID_SORT: sort parameter specified and invalid field
            ILLEGAL_QUERY: The search string syntax was invalid - example
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Videos
      summary: Create Video
      description: >-
        Create a new video object in the account. Note: this does not ingest a video file - use the Dynamic Ingest API for ingestion
      operationId: CreateVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Create a new video object in the account. Note: this does not ingest a video file - use the Dynamic Ingest API for ingestion
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVideoRequestBodyFields'
        required: true
      responses:
        '201':
          description: Video created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: 'BAD_VALUE: Spelling error or other use of non-existent field '
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '409':
          description: >-
            REFERENCE_ID_IN_USE: You attempted to create a video with a reference id that is already in use, or add a reference id to a video which is already used by another video
        '422':
          description: 'ILLEGAL_FIELD: Spelling error or other use of non-existent field '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/create
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/counts/videos':
    get:
      tags:
        - Videos
      summary: Get Video Count
      description: 'Gets count of videos for the account or a search '
      operationId: GetVideoCount
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/VideoSort'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCount'
        '400':
          description: 'INVALID_SORT: sort parameter specified and invalid field '
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_ids}':
    get:
      tags:
        - Videos
      summary: 'Get Videos by ID/Reference ID'
      description: >-
        Gets a video object - you can include **up to 10** video ids separated by commas
      operationId: GetVideoByIdOrReferenceId
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoIds'
        - $ref: '#/components/parameters/include_variants'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Videos
      summary: Delete Video
      description: >-
        'Deletes one or more videos - note that for this operation you can specify a comma-delimited list of video ids to delete.'
      operationId: DeleteVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoIds'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: 'NO_CONTENT'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '409':
          description: 'REFERENCES_EXIST: The video is in one or more manual playlists '
        '412':
          description: >-
            PRE_CONDITION_FAILED: usually this means the caller provided an ETag that didn't match the version of the video
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: 'INTERNAL_ERROR: Error in the backend '
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}':
    patch:
      tags:
        - Videos
      summary: Update Video
      description: >-
        Update video metadata - note that this API does not ingest any
        media files - use the Dynamic Ingest API for ingestion. Also note that replacing WebVTT text tracks is a two-step operation - see Add WebVTT Captions for details.
      operationId: UpdateVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Update video metadata - note that this API does not ingest any media files - use the Dynamic Ingest API for ingestion. Also note that replacing WebVTT text tracks is a two-step operation - see Add WebVTT Captions for details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Video'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '400':
          description: >-
            AD_CONFIG_INACTIVE: Ad configuration specified in an SSAI request is inactive

            AD_CONFIG_NOT_FOUND: Ad configuration specified in an SSAI request was not found
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: 'BAD_VALUE: Spelling error or other use of non-existent field '
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '409':
          description: >-
            REFERENCE_ID_IN_USE: You attempted to create a video with a reference id that is already in use, or add a reference id to a video which is already used by another video
        '422':
          description: >-
            ILLEGAL_FIELD: Spelling error or other use of non-existent field

            VALIDATION_ERROR: the JSON data was not valid - error messages vary depending on the problem
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: >-
            UNKNOWN: an unknown internal error occurred - this might be a temporary system issue, but if the problem persists, it is likely an uncaught error in the request - contact Support
        '503':
          description: 'TIMEOUT: Server likely too busy - try again later '
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/sources':
    get:
      tags:
        - Videos
      summary: Get Video Sources
      description: 'Gets an array of sources (renditions) for a video'
      operationId: GetVideoSources
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSources'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/images':
    get:
      tags:
        - Videos
      summary: Get Video Images
      description: 'Gets the images for a video '
      operationId: GetVideoImages
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoImages'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/variants':
    get:
      tags:
        - Videos
      summary: Get All Video Variants
      description: 'Gets the language variants for the video metadata'
      operationId: GetVideoVariants
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoVariants'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Videos
      summary: Create a Video Variant
      description: 'Creates a language variant for a video metadata'
      operationId: createVideoVariant
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Request body for a video variant
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoVariant'
      responses:
        '201':
          description: '201'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoVariant'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/variants/{language}':
    get:
      tags:
        - Videos
      summary: Get a Video Variant
      description: 'Gets the variant for the video metadata for the specified language'
      operationId: GetVideoVariant
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoVariant'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Videos
      summary: Update a Video Variant
      description: 'Updates a language variant for a video metadata'
      operationId: updateVideoVariant
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:  
        description: 
          Request body for a video variant
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoVariant'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoVariant'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Videos
      summary: Deletes a Video Variant
      description: 'Deletes a language variant for a video metadata'
      operationId: deleteVideoVariant
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: '204 NO CONTENT'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/audio_tracks':
    get:
      tags:
        - Videos
      summary: Get Video Audio Tracks
      description: 'Gets the audio tracks for a video Dynamic Delivery only '
      operationId: GetVideoAudioTracks
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTracks'
              examples:
                audio_track:
                  summary: Sample audio track object
                  value: [{ "duration": 86053, "encoding_rates": [ 64000, 96000, 127000, 192000 ], "id": "en_alternate", "is_default": true, "language": "en", "variant": "main" }]
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/audio_tracks/{audio_track_id}':
    get:
      tags:
        - Videos
      summary: Get Video Audio Track
      description: 'Gets one audio track for a video by its ID Dynamic Delivery only '
      operationId: GetVideoAudioTrack
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/AudioTrackId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTrack'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Videos
      summary: Update Video Audio Track
      description: 'Updates audio track metadata for a video Dynamic Delivery only '
      operationId: UpdateVideoAudioTrack
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/AudioTrackId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Updates audio track metadata for a video Dynamic Delivery only
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudioTrack'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioTrack'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Videos
      summary: Delete Video Audio Track
      description: 'Deletes one audio track for a video by its ID Dynamic Delivery only '
      operationId: DeleteVideoAudioTrack
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/AudioTrackId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: Item was deleted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/digital_master':
    get:
      tags:
        - Videos
      summary: Get Digital Master Info
      description: 'Gets the stored digital master for a video, if any '
      operationId: GetDigitalMasterInfo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalMaster'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Videos
      summary: Delete Digital Master
      description: >-
        Deletes the archived digital master for a video. Be sure to read Digital Master Delete API before using this operation to understand the implications.
      operationId: DeleteDigitalMaster
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: Item was deleted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/asset/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/references':
    get:
      tags:
        - Videos
      summary: Get Playlists for Video
      description: >-
        Gets an array of Manual (EXPLICIT) playlists that contain a video object for the account
      operationId: GetPlaylistsForVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistReferences'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Videos
      summary: Remove Video from all Playlists
      description: 'Removes the video from all EXPLICIT playlists for the account '
      operationId: RemoveVideoFromAllPlaylists
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: Item was deleted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/ingest_jobs':
    get:
      tags:
        - Videos
      summary: Get Status of Ingest Jobs
      description: |-
        Get the status of all ingest jobs associated with a video (including the original ingestion, replacing and retranscoding the video). NOTE: this operation only works for videos that were ingested using **Dynamic Delivery** profiles.

        Possible states of jobs are:
          * `processing` processing is underway, but no playable renditions have been created yet
          * `publishing` at least one playable rendition has been created and is being published
          * `published` at least one rendition is available for playback
          * `finished` processing is complete
          * `failed` processing failed - if you cannot figure what went wrong, contact Support
      operationId: GetStatusOfIngestJobs
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/GetStatusVideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IngestJobStatus'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: 'INTERNAL_ERROR: Error in the backend '
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/ingest_jobs/{job_id}':
    get:
      tags:
        - Videos
      summary: Get Status of Ingest Job
      description: |-
        Get the status of an ingest job associated with a video (including the original ingestion, replacing and retranscoding the video). NOTE: this operation only works for videos that were ingested using **Dynamic Delivery** profiles.


        Possible states of jobs are:
          * `processing` processing is underway, but no playable renditions have been created yet
          * `publishing` at least one playable rendition has been created and is being published
          * `published` at least one rendition is available for playback
          * `finished` processing is complete
          * `failed` processing failed - if you cannot figure what went wrong, contact Support
      operationId: GetStatusOfIngestJob
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestJobStatus'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: 'INTERNAL_ERROR: Error in the backend '
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/video_fields':
    get:
      tags:
        - Videos
      summary: Get Custom Fields
      description: 'Gets a list of custom fields for the account '
      operationId: GetCustomFields
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoFields'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/channels':
    get:
      tags:
        - Media Sharing
      summary: List Channels
      description: >-
        Gets a list of channels (currently there is only one default channel) - this is a Master account operation
      operationId: ListChannels
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Channel'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact Support
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/channels/{channel_name}':
    get:
      tags:
        - Media Sharing
      summary: Get Channel Details
      description: >-
        Gets settings for a sharing channel (currently there is only one default channel) - this is a Master account operation
      operationId: GetChannelDetails
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ChannelName'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact Support
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Media Sharing
      summary: Update Channel
      description: >-
        Updates settings for a sharing channel (currently there is only one default channel) - this is a Master account operation
      operationId: UpdateChannel
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ChannelName'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Updates settings for a sharing channel (currently there is only one
          default channel) - this is a Master account operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/channels/{channel_name}/members':
    get:
      tags:
        - Media Sharing
      summary: List Channel Affiliates
      description: >-
        Gets a list of affiliates for a channel - this is a Master account
        operation
      operationId: ListChannelAffiliates
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ChannelName'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChannelAffiliate'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/channels/{channel_name}/members/{affiliate_account_id}':
    put:
      tags:
        - Media Sharing
      summary: Add Affiliate
      description: 'Adds an affiliate to a channel - this is a Master account operation '
      operationId: AddAffiliate
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ChannelName'
        - $ref: '#/components/parameters/AffiliateAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Adds an affiliate to a channel - this is a Master account operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAffiliate'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddAffiliate'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Media Sharing
      summary: Remove Affiliate
      description: >-
        Removes an affiliate from a channel - this is a Master account operation
      operationId: RemoveAffiliate
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ChannelName'
        - $ref: '#/components/parameters/AffiliateAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: Item was deleted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/contracts/':
    get:
      tags:
        - Media Sharing
      summary: Get Contract
      description: >-
        Gets a list of available sharing contracts - this is an Affiliate account operation
      operationId: GetContracts
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/contracts/{master_account_id}':
    get:
      tags:
        - Media Sharing
      summary: Get Contract
      description: >-
        Gets a list of available sharing contracts - this is an Affiliate account operation
      operationId: GetContract
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/MasterAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Media Sharing
      summary: Approve Contract
      description: 'Approve a contract - this is an Affiliate account operation '
      operationId: ApproveContract
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/MasterAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Gets a list of available sharing contracts - this is an Affiliate
          account operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/sharing-relationships/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/shares':
    get:
      tags:
        - Media Sharing
      summary: List Shares
      description: >-
        Lists the existing shares for an account - this is a Master account operation - do this before sharing to insure that you are not re-sharing to an affiliate, which would overwrite any affiliate metadata changes
      operationId: ListShares
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoShare'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Media Sharing
      summary: Share Video
      description: >-
        Shares a video to one or more affiliates - this is an Master account operation - if the video has already been shared to an affiliate, this operation will re-share it and overwrite any affiliate metadata changes
      operationId: ShareVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: >-
          Shares a video to one or more affiliates - this is an Master account operation - if the video has already been shared to an affiliate, this operation will re-share it and overwrite any affiliate metadata
          changes
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ShareVideoRequest'
              description: >-
                Shares a video to one or more affiliates - this is an Master account operation - if the video has already been shared to an affiliate, this operation will re-share it and overwrite any affiliate metadata changes
        required: true
      responses:
        '202':
          description: Share request accepted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VideoShare'
                description: Share request accepted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/create
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/videos/{video_id}/shares/{affiliate_account_id}':
    get:
      tags:
        - Media Sharing
      summary: Get Share
      description: >-
        Lists the existing shares for an account - this is a Master account operation - do this before sharing to insure that you are not re-sharing to an affiliate, which would overwrite any affiliate metadata changes
      operationId: GetShare
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/AffiliateAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoShare'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Media Sharing
      summary: Unshare Video
      description: >-
        Un-shares a video with a specific affiliate - this is an Master account operation - do this before sharing to insure that you are not re-sharing to an affiliate, which would overwrite any affiliate metadata changes
      operationId: UnshareVideo
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/AffiliateAccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: Item was deleted
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is  unavailable - this may be a temporary condition while some kind of processing of the video is in progress, but if the message persists, contact
        '404':
          description: 'RESOURCE_NOT_FOUND: Resource not found '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/playlists':
    get:
      tags:
        - Playlists
      summary: Get Playlists
      description: 'Gets a page of playlist objects for the account '
      operationId: GetPlaylists
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/PlaylistSort'
        - $ref: '#/components/parameters/SearchPlaylists'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Playlist'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been
            URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Playlists
      summary: Create Playlist
      description: 'Creates a new playlist '
      operationId: CreatePlaylist
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Creates a new playlist
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistInputFields'
        required: true
      responses:
        '201':
          description: Playlist created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '400':
          description: 'BAD_VALUE: The JSON could not be parsed '
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '409':
          description: 'REFERENCE_ID_IN_USE: The specified reference id is already in use '
        '422':
          description: 'ILLEGAL_FIELD: Spelling error or use of non-existent field '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/create
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/counts/playlists':
    get:
      tags:
        - Playlists
      summary: Get Playlist Count
      description: 'Gets a count of playlists in the account for the account '
      operationId: GetPlaylistCount
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistCount'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been
            URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/playlists/{playlist_id}':
    get:
      tags:
        - Playlists
      summary: Get Playlists by ID
      description: 'Gets one or more playlist objects for the account '
      operationId: GetPlaylistById
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: playlist_id
          in: path
          description: >-
            Video Cloud playlist ID, or multiple playlist ids separated by commas.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been
            URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Playlists
      summary: Update Playlist
      description: 'Updates a playlist for the account '
      operationId: UpdatePlaylist
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaylistId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Updates a playlist for the account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistInputFields'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Playlist'
        '400':
          description: 'BAD_VALUE: The JSON could not be parsed '
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '409':
          description: 'REFERENCE_ID_IN_USE: The specified reference id is already in use '
        '422':
          description: 'ILLEGAL_FIELD: Spelling error or use of non-existent field '
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Playlists
      summary: Delete Playlist
      description: 'Deletes a playlist '
      operationId: DeletePlaylists
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaylistId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: 'NO_CONTENT'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/playlists/{playlist_id}/videos':
    get:
      tags:
        - Playlists
      summary: Get Videos in Playlist
      description: 'Gets the video objects for videos in a playlist for the account '
      operationId: GetVideosInPlaylist
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaylistId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/include_details'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/counts/playlists/{playlist_id}/videos':
    get:
      tags:
        - Playlists
      summary: Get Video Count in Playlist
      description: 'Gets a count of the videos in a playlist for the account '
      operationId: GetVideoCountInPlaylist
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/PlaylistId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoCountInPlaylist'
        '400':
          description: >-
            'INVALID_SORT: sort parameter specified and invalid field

            INVALID_SEARCH: search string invalid (may not have been
            URI-encoded)'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed - check to make sure your client credentials were correct for the access token
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/playlist/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/folders':
    get:
      tags:
        - Folders
      summary: Get Folders
      description: 'Gets list of folders for the account '
      operationId: GetFolders
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Folders
      summary: Create Folder
      description: 'Create a new folder for the account '
      operationId: CreateFolder
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Create a new folder for the account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
        required: true
      responses:
        '201':
          description: Folder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/create
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/folders/{folder_id}':
    get:
      tags:
        - Folders
      summary: Get Folder Information
      description: 'Gets information about a folder '
      operationId: GetFolderInformation
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/FolderId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    patch:
      tags:
        - Folders
      summary: Update Folder Name
      description: 'Update the folder name '
      operationId: UpdateFolderName
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: folder_id
          in: path
          description: the folder ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        description: Update the folder name
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Folders
      summary: Delete Folder
      description: 'Delete a folder '
      operationId: DeleteFolder
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: folder_id
          in: path
          description: the folder ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: name
          in: query
          description: 'name of the folder (must be unique in the account)'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '201':
          description: '201'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/delete
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/folders/{folder_id}/videos':
    get:
      tags:
        - Folders
      summary: Get Videos in Folder
      description: 'Gets list of video objects in a folder '
      operationId: GetVideosInFolder
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: folder_id
          in: path
          description: the folder ID.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Videos in the folder
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Video'
                description: Videos in the folder
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/read
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/folders/{folder_id}/videos/{video_id}':
    put:
      tags:
        - Folders
      summary: Add Video to Folder
      description: 'Add a video to a folder '
      operationId: AddVideoToFolder
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/FolderId'
        - $ref: '#/components/parameters/VideoId'
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '204':
          description: 'NO_CONTENT'
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Folders
      summary: Remove Video from Folder
      description: 'Remove a video from a folder '
      operationId: RemoveVideoFromFolder
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - name: folder_id
          in: path
          description: the folder ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: video_id
          in: path
          description: the video ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ContentType'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '201':
          description: Video successfully removed from the folder
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your client credentials were correct for the access token
        '403':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '405':
          description: >-
            METHOD_NOT_ALLOWED: The HTTP method specified is not allowed for this endpoint
        '429':
          description: >-
            TOO_MANY_REQUESTS: You are submitting too many simultaneous requests or too many requests per second
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      security:
        - BC_OAuth2:
            - video-cloud/video/update
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/accounts/{account_id}/labels':
    post:
      tags:
        - Labels
      summary: Create a Label
[...]
