openapi: 3.0.0
x-bc-implicit-head: true
x-bc-implicit-options: true
x-bc-upstream: 'http://backend_server'
info:
  title: EPG API Reference
  description: |-
    Reference for the Brightcove Channels API, used to retrieve a list of Cloud Playout channels created in Studio - see [Using Cloud Playout to Stream VOD Videos](https://studio.support.brightcove.com/general/cloud-playout-stream-vod.html) for details on how to create a channel.

    For additional information on the API, see the **[Overview: EPG API](/epg/getting-started/overview-epg-api.html)**.

    **The EPG API and Cloud Playout are currently in *limited availability*. If you are interested in trying it out, contact your Account Manager.**

     **Base URL**: https://cm.cloudplayout.brightcove.com
  version: 1.0.0
  x-bc-access: public
servers:
  - url: 'https://cm.cloudplayout.brightcove.com'
    variables: {}
tags:
  - name: Channels
    description: Operations for Cloud Playout Channels.
paths:
  '/accounts/{account_id}/cp_channels':
    get:
      tags:
        - Channels
      summary: Get a list of Cloud Playout channels for the account
      description: |-
        'RGet a list of Cloud Playout channels for the account'
      operationId: GetChannels
      security:
        - BC_OAuth2:
          - video-cloud/playlist/read
          - video-cloud/video/read
      parameters:
        - name: account_id
          in: path
          description: Video Cloud account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Content-Type
          in: header
          description: 'Content-Type: application/json'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: Authorization
          in: header
          description: 'Authorization: Bearer access_token (see [Getting Access Tokens](/oauth/guides/getting-access-tokens.html))'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/GetChannelsResponse'
        '400':
          description: >-
            NOT_AVAILABLE: The resource you are requesting is temporarily unavailable
        '401':
          description: >-
            UNAUTHORIZED: Authentication failed; check to make sure your policy
            key is correct
        '404':
          description: >-
            RESOURCE_NOT_FOUND: The api could not find the resource you requested
        '500':
          description: |-
            UNKNOWN: Issue in Brightcove system; try again later.
            TIMEOUT: Server likely too busy; try again later.
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    GetChannelsResponse:
      title: Channels Response
      description: The list of channels
      type: array
  securitySchemes:
    BC_OAuth2:
      type: oauth2
      description: >-
        Brightcove OAuth API. See the [support documentation](/oauth/index.html) or [Getting Access Tokens](/oauth/code-samples/oauth-api-sample-get-access-token.html) to learn more
      flows:
        clientCredentials:
          tokenUrl: 'https://oauth.brightcove.com/v4/access_token'
          scopes:
            video-cloud/player/read: Read player data
            video-cloud/player/all: Read/write player data
