/* The body style is just for the
 * background color of the codepen.
 * Do not include in your code.
 */
 body {
  background-color: #111;
  color: #f5f5f5;
  font-family: sans-serif;
  margin: 2em;
}
/*
 * Styles essential to the sample
 * are below
 */
.bcls-code {
  color: #111;
  font-family: monospace;
  padding: 1em;
  width: 90%;
  min-height: 5em;
  background-color: #cfcfcf;
  font-size: 1rem;
}
.bcls-button {
  padding: 0.5em;
  background-color: #333;
  border: 1px yellow solid;
  border-radius: 0.5em;
  color: yellow;
  cursor: pointer;
}
fieldset {
  color: #64aab2;
  border: 1px #64aab2 solid;
  border-radius: 0.5em;
}
code {
  color: #e4b842;
  font-family: monospace;
}
.bcls-table {
  border-collapse: collapse;
  border: 1px #64aab2 solid;
}

.bcls-table .bcls-table__head th {
  border: 1px #64aab2 solid;
  padding: 0.5em;
}
.bcls-table .bcls-table__body td {
  border: 1px #64aab2 solid;
  padding: 0.5em;
}

/** Styles for this sample **/
#video_container, #player_container {
  display: inline-block;
  max-width: 50%;
}

#video_grid {
  display: grid;
  grid-template-columns: 33% 33% auto; 
}

.grid-item {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.thumbnail {
  width: 160px;
  height: 90px;
}

.truncate {
  font-size: small;
  min-width: 160px;
  width: 160px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

